@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata-Regular.woff2') format('woff2'),
        url('../fonts/Inconsolata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Mulish-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

