/*index.html*/
/*start header*/
body{
	background-color: #F6F8F9;
}
.logo {
	width: 100px;
	display: inline-block;
	vertical-align: top;
	margin-right: 92px;
}
.navigation {
	display: inline-block;
}
.nav-li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 27px;
	color: #343638;
}
.nav-ul {
	margin-top: 20px;
}
.divheader {
	background-color: #DCDCDC;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
}
.textheader {
	color: #343638;
}
.personimage {
	display: inline-block;
	vertical-align: middle;
	margin-left: 13px;
	margin-top: 11px;
	margin-bottom: 9px;
}
/*end header*/
/*start section 1*/
.divmain {
	position: absolute;
	top: 75px;
	left: 140px;
	width: 1160px;
	height: 410px;
	
}
.clock {
	width: 16px;
	height: 16px;
	margin-left: 40px;
	color: #A6ADB4;
}
.sec1h3 {
	margin-top: 25px;
}
.block1 {
	margin-top: 40px;
	background-color: white;
	width: 360px;
	position: relative;
/*	display: inline-block;*/
}
.block2 {
	width: 360px;
	background-color: white;
	height: 180px;
/*	display: inline-block;*/
}
.par1 {
	width: 280px;
	padding-top: 66px;
	padding-right: 40px;
	padding-bottom: 11px;
	padding-left: 40px;
	color: #A6ADB4;
}

.block1h3 {
	position: absolute;
	color: white;
	width: 280px;
	top: 28px;
	right: 40px;
	bottom: 136px;
	left: 40px;
}
.time {
	color: #A6ADB4;

}
.divparagrap1 {
	display: inline-block;
	width: 360px;
}

/* start block2 2*/
.divparagrap2 {
	display: inline-block;
	width: 360px;
	background-color: white;
	position: absolute;
	left: 400px;
	top: 85px;
}
.block3 {
	-top: 40px;
	background-color: white;
	width: 360px;
	position: relative;
	vertical-align: top;
}
.block4 {
	width: 360px;
	background-color: white;
	height: 180px;
}
.block3h3 {
	position: absolute;
	color: white;
	width: 280px;
	top: 28px;
	right: 40px;
	bottom: 136px;
	left: 40px;

}
.par2 {
	width: 280px;
	padding-top: 66px;
	padding-right: 40px;
	padding-bottom: 11px;
	padding-left: 40px;
	color: #A6ADB4;
}

