/*start header*/
body {
	background-color: #F6F8F9;
}
.header {
	width: 1440px;
	background-color: lightgrey;
	height: 50px;

}
.Logo {
	width: 70px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 92px;
	
}
.navigation {
	display: inline-block;
	vertical-align: text-top;
}
.nav-li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 27px;
	font-family: 'Inconsolata';


}
.personimage {
	vertical-align: middle;
	display: inline-block;
	width: 25px;
	margin-left: 27px;

}
.text-li {
	color: #343638;
}
/*section 1 - block1*/
.container {
	width: 1160px;
	height: 350px;
	margin-left: 140px;
	margin-top: 75px;
}
.block1h3 {
	margin-bottom: 40px;
}
.block1 {
	position: absolute;
	background-color: #fff;

}
.block1-1 {
	position: relative;
	background-color: #fff;
	height: 180px;
	width: 360px;
}
.block1-2{
	background-color: white;
	width: 360px;
	height: 180px;
}
.clock {
	width: 16px;
	margin-left: 40px;
	margin-top: 67px;
}
.paragraph1{
	position: absolute;
	top: 28px;
	left: 40px;
	color: #fff;
}
.paragraph2 {
	width: 280px;
	height: 38px;
	color: #A6ADB4;
	padding-top: 76px ;
	padding-left: 40px;
}
.timetext {
	color: #A6ADB4;

}
/*section1- block2*/
.block2 {
	position: absolute;
	background-color: #fff;
	left: 400px;
	top: 0px;
}
.block2-1 {
	position: relative;
	background-color: #fff;
	height: 180px;
	width: 360px;
}
.paragraph1 {
	position: absolute;
	top: 28px;
	left: 40px;
	color: #fff;
}
.block2-2 {
	background-color: white;
	width: 360px;
	height: 180px;
}
/*section1- bloxk3*/
.block3 {
	position: absolute;
	background-color: #fff;
	left: 400px;
	top: 0px;
}
.block3-1 {
	position: relative;
	background-color: #fff;
	height: 180px;
	width: 360px;
}
.block3-2 {
	background-color: white;
	width: 360px;
	height: 180px;
}
/*section2*/
.divcontainer {
	width: 1300px;
	height: 900px;
	margin-left: 140px;
	margin-top: 118px;
}
.blockcontainer1 {
	width: 760px;
	display: inline-block;
	vertical-align: top;
	margin-top: 40px;
}
.blockcontainer2 {
	width: 360px;
	display: inline-block;
	margin-left: 40px;
	vertical-align: top;
	margin-top: 40px;
	
}
.image1 {
	width: 760px;
	margin-bottom: 40px;
	height: 430px;
}
.image2 {
	width: 360px;
	margin-bottom: 102px;
/*	height: 210px;*/
}
.headding {
	font-size: 20px;
	font-family: 'Inconsolata';
}

/*footer*/
.footcontainer {
	background-color: #A6ADB4;
	width: 1440px;
	height:200px ;
	margin-top: 100px;
}
.logo {
	display: inline-block;
	vertical-align: top;
	margin-left: 142px;
	margin-top: 58px;
	color: #fff;
	margin-right: 70px;
}
.footblock1 {
	display: inline-block;
	vertical-align: top;
	margin-top: 58px;
	color: #CBD0D3;
	margin-right: 70px;
}
.fooertlogo{
	margin-right: 32px;
}
.foot-ul {
	font-family: 'Inconsolata';
}
/*.footblock2 {
	display: inline-block;
	vertical-align: top;
	margin-top: 58px;
	color: #CBD0D3;
	margin-right: 70px;
}
.footblock3 {
	display: inline-block;
	vertical-align: top;
	margin-top: 58px;
	color: #CBD0D3;
	margin-right: 70px;
}
.footblock4 {
	display: inline-block;
	vertical-align: top;
	margin-top: 58px;
	color: #CBD0D3;
	margin-right: 70px;
}
.footblock5 {
	display: inline-block;
	vertical-align: top;
	margin-top: 58px;
	color: #CBD0D3;
	margin-right: 70px;
}


*/