/*index.html*/
/*start header*/
.logo {
	width: 100px;
	display: inline-block;
	vertical-align: top;
	margin-right: 92px;
}
.navigation {
	display: inline-block;
}
.nav-li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 27px;
	color: #343638;
}
.nav-ul {
	margin-top: 20px;
}
.divheader {
	background-color: #F6F8F9;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}
.textheader {
	color: #343638;
}
.personimage {
	display: inline-block;
	vertical-align: middle;
	margin-left: 13px;
	margin-top: 11px;
	margin-bottom: 9px;
}
/*end header*/
/*start section 1 */