.logo {
	width: 100px;
	display: inline-block;
	vertical-align: top;
	margin-right: 92px;
}
.navigation {
	display: inline-block;
}
.nav-li {
	display: inline-block;
	vertical-align: middle;
}
.nav-ul {
	margin-top: 20px;
}